* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 2%;
    color: rgb(102, 102, 104);
}

.contactImages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.contactImages>div>img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(.6);
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.images p {
    margin: 10%;
    font-weight: 900;
}

.footer {
    height: 150px;
    background-color: rgb(210, 173, 173);
}

.footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
}

.footer>div>a>img {
    width: 50px;
    height: 50px;
    /* margin-top: .5%; */
}

@media screen and (min-width:768px) {
    .contactImages {
        flex-direction: row;
        flex: 1;
    }

    .contactImages>div>img {
        width: 200px;
        height: 200px;
    }
}