    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper>h1,
    .wrapper>p {
        text-align: center;
        padding: .5%;
    }

    .accordion {
        display: flex;
        justify-content: space-between;
        padding: .9rem 1rem;
    }

    .faq {
        width: 90%;
        margin: 0 auto 2%;
    }

    .faq button {
        width: 100%;
        font-size: 1.2rem;
        transition: .4s;
        border: none;
        outline: none;
        transition: all 1s ease-in-out;
    }

    .faq button:hover {
        background-color: rgba(183, 178, 178, 0.7);
        cursor: pointer;
    }

    .faq>p {
        width: 100%;
        font-size: 1rem;
        margin: 0 auto;
        background-color: rgba(183, 178, 178, 0.7);
        /* height: 50px; */
        padding: 2%;
        font-size: 1.2rem;
    }

    .paragraph {
        display: none;
    }



    .bx {
        font-size: 1.5rem;
    }

    .active {
        display: block;
    }


    .footer {
        height: 150px;
        background-color: rgb(210, 173, 173);
    }

    .footer>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 0;
    }

    .footer>div>a>img {
        width: 50px;
        height: 50px;
        /* margin-top: .5%; */
    }